@model Publicacao
@{
    ViewData["Title"] = "Logado";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Logado.css">
    <title>Logado</title>
</head>
<body>
    <main>
        <div class="perfil">
            @if(ViewBag.UserName != null)
            {
                <span> Olá @ViewBag.UserName</span>
            }
        </div>
        <div>
            <form action='@Url.Action("Cadastrar")' method="POST" enctype="multipart/form-data">

                <input class="desc"    type="text" placeholder="Descrição" name="Legenda"   required>

                <label for='selecao-arquivo'>Escolha a imagem</label>
                <input class="arquivo" type="file"id="selecao-arquivo" placeholder="Arquivo"   name="Imagem"    required>

                <input  class="data"   type="date" placeholder="Data"      name="Data"      required />
                <button class="criar"  type="submit"> Arquivar </button>
            </form>
        </div >
        <div class="doc">
            @foreach (Publicacao publicacao in ViewBag.Publicacoes)
            {
                <li class="imagem">
                    <img src="~/img/Publicacao/@publicacao.Imagem" alt="Imagem da publicacao @publicacao.Legenda" width="60">
                    <p>@publicacao.Legenda</p>
                    <p>@publicacao.Data</p>
                    <a asp-area="Link para excluir uma publicacao" asp-controller="Publicacao"asp-action="Excluir" asp-route-id="@publicacao.IdPublicacao">Excluir</a> 
                </li>
                                                                                                                                                @* </i><i class="fas fa-trash"> *@
            }
        </div>
    </main>
    <footer >
        Payment Receipts
    </footer>
</body>
</html>
@* <link rel="stylesheet" href="~/css/Logado.css">
    <form  method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
        
        <label>Descricao</label>
        <input type="text" name="Legenda" required/>

        <label>Foto</label>
        <input type="file" name="Imagem" required/>

        <label>Data</label>
        <input name="Data" type="date" required/>

        <button  type="submit"> Arquivar </button>

    </form>

    <table class="table table-striped table-responsive">
        <thead>
            <th>Descricao</th>
            <th>Data</th>
            <th>Imagem</th>
            <th>Ação</th>
        </thead>
        <tbody>
           
        </tbody>
</table> *@
